$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon";
// endbower

$bg: #3498db;
$line: #fff;
$perspective: 40000;

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $line;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}


body {
  background-color: $bg;
  font-family: Helvetica, sans-serif;
}
.cube,.half1,.half2,.container,.side {
  @include transform-style( preserve-3d );
}
.container {
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  padding-bottom: 0;
  z-index: -999;
  text-align: center;
  @include perspective( $perspective + px );

}

.cube {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  left: -17%;
  width: 500px;
  height: 500px;
  @include transform( rotateX(185deg) rotateY(0deg) rotateZ(45deg) ); 
  @include transform-origin( center );
  @include animation( cube 5.0s forwards infinite );
  @include animation-timing-function( cubic-bezier(.97,1,.66,.9) );
}
.half1 {
  height: 100px;
  top: 0;
  position: absolute;
  @include transform( rotateX(-90deg) );
  @include transform-origin( 50% 100% );
}
.side {
  width: 100px;
  height: 100px;
  border: 2px solid $line;
  background: transparent;
  position: absolute;
  overflow: hidden;
  @include box-sizing( border-box );
  // &:after {
  //   content: '';
  //   position: absolute;
  //   height: 2px;
  //   width: 400px;
  //   background: $line;
  //   left: 50%;
  //   top: 50%;
  //   @include transform( translate3d(-50%,-50%,0) );
  //   @include transform-origin( center center );
  //   @include transition ( all 400ms ease-in-out );
  // }
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 2px;
  //   height: 400px;
  //   background: $line;
  //   left: 50%;
  //   top: 50%;
  //   @include transform( translate3d(-50%,-50%,0) );
  //   @include transform-origin( center center );
  //   @include transition ( all 400ms ease-in-out );
  // }
}
.s1 {
  top:0;
  left: 200px;
  @include transform-origin( 50% 100% );
  @include transform( rotateX(-90deg) );
}
.s2 {
  top: 100px;
  left: 200px;
  @include transform-origin( 50% 0% );
}
.s3 {
  top: 200px;
  left: 200px;
  @include transform-origin( 50% 0% );
}
.s4 {
  top: 300px;
  left: 200px;
  @include transform-origin( 50% 0% );
  @include transform( rotateX(90deg) );
}
.s5 {
  left:100px;
  top: 100px;
  @include transform-origin( 100% 50% );
  @include transform( rotateY(90deg) );
}
.s6 {
  left:300px;
  top: 200px;
  @include transform-origin( 0% 50% );
  @include transform( rotateY(-90deg) );
}
@include keyframes( cube ) {
  0% {
    @include transform( rotateX(55deg) rotateY(0deg) rotateZ(45deg) ); 
  }
  12.5% {
    @include transform( rotateX(55deg) rotateY(0deg) rotateZ(45deg) );
  }
  25% {
    @include transform( rotateX(55deg) rotateY(0deg) rotateZ(135deg) );
  }
  37.5% {
    @include transform( rotateX(55deg) rotateY(0deg) rotateZ(135deg) );
  }
  50% {
    @include transform( rotateX(125deg) rotateY(0deg) rotateZ(135deg) ); 
  }
  62.5% {
    @include transform( rotateX(125deg) rotateY(0deg) rotateZ(135deg) ); 
  }
  75% {
    @include transform( rotateX(125deg) rotateY(0deg) rotateZ(45deg) );
  }
  87.5% {
    @include transform( rotateX(125deg) rotateY(0deg) rotateZ(45deg)  );
  }
  100% {
    @include transform( rotateX(55deg) rotateY(0deg) rotateZ(45deg) );
  }
}